<!DOCTYPE HTML>
<html>

<head>
    <title>Exam System</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
</head>

<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <a class="logo" href="home">Online Exam System</a>
        <nav>
            <a href="#menu">Menu</a>
        </nav>
    </header>


    <nav id="menu">
        <ul class="links">
            <li><a href="home">Home</a></li>
            <li><a href="exams">Exams</a></li>
            <li><a href="leaderboard">Leaderboard</a></li>
            <li><a href="logout">Logout</a> </li>

        </ul>
    </nav>

    <section id="banner">
        <div class="inner">
            <h1>Welcome!</h1>
            <p>An exam system created by Müge Selen ELMAS, Doğukan KESKİNOĞlu and Batuhan AYYILDIZ for
                <a href="https://bilmuh.ege.edu.tr">Ege University</a></p>
        </div>
        <img autoplay loop muted playsinline src="{{ url_for('static', filename='images/banner.mp4')}}"> </img>
    </section>


    <section class="wrapper">
        <div class="inner">
            <header class="special">
                <h2>LOGIN</h2>

                <form action="/home" method="POST">
                    <label for="inputName">Name</label>
                    <input type="text" autofocus name="name" id="inputName" placeholder="Name">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" placeholder="Password">
                    <br>
                    <button type="submit">Login</button>
                </form>

            </header>
        </div>
    </section>

    <script>
        document.querySelector('form').onsubmit = function() {
            if (!document.querySelector('input').value) {
                alert('You must provide your username or password!');
                return false;
            }
            return true;
        };
    </script>

    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>

</body>

</html>