<!DOCTYPE HTML>

<html>

<head>
    <title>Leaderboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
</head>

<body class="is-preload">



    <div id="heading">
        <h1>Leaderboard</h1>
    </div>

    <section id="main" class="wrapper">
        <div class="inner">
            <div class="content">
                <header>
                    <h2>Top Scored Students</h2>
                </header>
                <form action="/exams">
                    <div class="table-wrapper">
                        <table border="1">
                            <tr>
                                <th>Username</th>
                                <th>Point</th>
                            </tr>
                            {% for i in leadorboard %}
                            <tr>
                                <td>{{ i[0] }}</td>
                                <td>{{ i[1] }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <button type="submit">Sınavlar sayfasına gidebilirsiniz</button>
                </form>

            </div>
        </div>
    </section>

    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/js/browser.min.js"></script>
    <script src="static/assets/js/breakpoints.min.js"></script>
    <script src="static/assets/js/util.js"></script>
    <script src="static/assets/js/main.js"></script>

</body>

</html>