<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>Questions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css')}}" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous">
    </script>

    <style>
        .soruicerik {
            background-color: blue;
        }
    </style>
</head>

<body>
    <div id="exam" class="content">
        <h1>{{exam_id}}</h1>
        {% for i in sorular %} {% set outer_loop = loop %}
        <div class="soruicerik">
            <form action="">
                <h3>Soru {{outer_loop.index}}</h3>
                <p>{{i[2]}}</p>
                {% for k in i[3].split("*_*") %}
                <input type="radio" id="question" +{{loop.index}}>
                <label for="question" +{{loop.index}}></label>
                <label id="questionlabel" +{{loop.index}}>{{k}}</label>
                <h3>question {{outer_loop.index}} choice {{loop.index}}</h3>
                {% endfor %}
            </form>
            <blockquote>Soru puanı:{{i[5]}}</blockquote>
        </div>

        {% endfor %}


    </div>


</body>

</html>